/* frontend/src/components/TaskForm.module.css */
.form {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.form h3 {
  margin: 0;
  flex-basis: 150px;
}

.form input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #d4d4d4;
}

.form button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28a745; /* Green for add */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #1e7e34;
}