
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer > div {
  display: flex;
  align-items: center;
}

.formContainer label {
  flex-basis: 120px;
  text-align: right;
  padding-right: 15px;
}

.formContainer input {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #d4d4d4;
}

.formContainer button {
  padding: 14px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.formContainer button:hover {
  background-color: #0056b3;
}

/* Adicione esta nova classe para o link */
.secondaryAction {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.secondaryAction a {
  color: #00aaff;
  text-decoration: none;
}

.secondaryAction a:hover {
  text-decoration: underline;
}